<%@ Application Language="C#" %> 
<script RunAt="server">
    void Application_start(object sender,EventArgs e)
    {
        Liliveri.RouteConfig.RegisterRoutes(System.Web.Routing.RouteTable.Routes);
    }
</script>